# Local .terraform directories
.terraform/*

# Secret files
secrets.tfvars
secrets.tfvars.json

# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Certs and keys
*.pem
*.crt
*.key

